# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data = "../output_data/cities.csv"

output_data_df = pd.read_csv(output_data).drop(columns=["City_ID"])

output_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...
543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = output_data_df[["Lat", "Lng"]]
humidity = output_data_df["Humidity"]
maxhum = humidity.max()

In [5]:
fig = gmaps.figure(center=(12, 0), zoom_level=1.75)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity = maxhum, dissipating=False, point_radius=3)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* Narrow down the DataFrame to find your ideal weather condition. For example:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [6]:
best_fit_df = pd.DataFrame(output_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness", "Country", "Lat", "Lng"])

temp_range = (best_fit_df["Max Temp"] <= 75) & (best_fit_df["Max Temp"] >65)
wind_speed = best_fit_df["Wind Speed"] <= 10
cloud_cover = best_fit_df["Cloudiness"] <= 15
country = best_fit_df["Country"] != "RU"
lat = best_fit_df["Lat"]
lng = best_fit_df["Lng"]

best_fit_df = best_fit_df[temp_range & wind_speed & cloud_cover & country]
best_fit_df

                 City  Max Temp  Wind Speed  Cloudiness Country    Lat     Lng
7               opuwo     72.06        5.44           0     NaN -18.06   13.84
30            gobabis     68.00        2.24           0     NaN -22.45   18.97
70       ponta do sol     73.68        5.32           0      BR -20.63  -46.00
87           ambilobe     74.76        4.52           2      MG -13.19   49.05
168          straumen     68.00        9.17           0      NO  63.87   11.30
214         mount isa     68.00        6.93           0      AU -20.73  139.49
231            mocuba     65.76        2.42           1      MZ -16.84   36.99
259              hami     69.72        6.20           0      CN  42.84   93.51
297             mogok     72.24        2.77           0      MM  22.92   96.51
338    port shepstone     69.54        5.32           2      ZA -30.74   30.45
346          chiredzi     65.76        0.78           0      ZW -21.05   31.67
402           sambava     70.98        1.50           7      MG -14.27   50.17
444           birjand     71.60        9.17           0      IR  32.86   59.22
533           hakkari     69.80        5.82           0      FI  61.34   23.75
538  la seyne-sur-mer     69.01        2.24           0      FR  43.10    5.88

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = pd.DataFrame(best_fit_df, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df.head()

             City Country    Lat    Lng Hotel Name
7           opuwo     NaN -18.06  13.84
30        gobabis     NaN -22.45  18.97
70   ponta do sol      BR -20.63 -46.00
87       ambilobe      MG -13.19  49.05
168      straumen      NO  63.87  11.30

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Getting results for {city}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        hotel_df.loc[index, "Hotel Name"] = "No hotels"
    #delay the code by one second to avoid an error
    time.sleep(1)
        
hotel_df

Getting results for opuwo.
Closest hotel in opuwo is Opuwo Country Lodge.
Getting results for gobabis.
Closest hotel in gobabis is Onze Rust Guest House.
Getting results for ponta do sol.
Closest hotel in ponta do sol is Escarpas Resort.
Getting results for ambilobe.
Closest hotel in ambilobe is Hotel National.
Getting results for straumen.
Closest hotel in straumen is JÃ¦gtvolden Fjordhotell.
Getting results for mount isa.
Closest hotel in mount isa is Redearth Boutique Hotel.
Getting results for mocuba.
Closest hotel in mocuba is Sumeia Hotel.
Getting results for hami.
Closest hotel in hami is Hami Hotel.
Getting results for mogok.
Closest hotel in mogok is MOGOK HILL HOTEL.
Getting results for port shepstone.
Closest hotel in port shepstone is My Den Beachfront Bed and Breakfast | Self-Catering.
Getting results for chiredzi.
Closest hotel in chiredzi is The Nesbitt Arms.
Getting results for sambava.
Closest hotel in sambava is HÃ´tel Las Palmas.
Getting results for birjand.
Closest hotel in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ².
Getting results for hakkari.
Could not find result
-------------------------
Getting results for la seyne-sur-mer.
Closest hotel in la seyne-sur-mer is Best Western Plus HÃ´tel La Corniche.

,City,Country,Lat,Lng,Hotel Name
7,opuwo,NaN,-18.06,13.84,Opuwo Country Lodge
30,gobabis,NaN,-22.45,18.97,Onze Rust Guest House
70,ponta do sol,BR,-20.63,-46.00,Escarpas Resort
87,ambilobe,MG,-13.19,49.05,Hotel National
168,straumen,NO,63.87,11.30,JÃ¦gtvolden Fjordhotell
214,mount isa,AU,-20.73,139.49,Redearth Boutique Hotel
231,mocuba,MZ,-16.84,36.99,Sumeia Hotel
259,hami,CN,42.84,93.51,Hami Hotel
297,mogok,MM,22.92,96.51,MOGOK HILL HOTEL
338,port shepstone,ZA,-30.74,30.45,My Den Beachfront Bed and Breakfast | Self-Cat...
346,chiredzi,ZW,-21.05,31.67,The Nesbitt Arms
402,sambava,MG,-14.27,50.17,HÃ´tel Las Palmas
444,birjand,IR,32.86,59.22,Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
533,hakkari,FI,61.34,23.75,No hotels
538,la seyne-sur-mer,FR,43.10,5.88,Best Western Plus HÃ´tel La Corniche

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))